node_modules
.git
coverage
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.cache
.vitest
*.pem
seed.yml
*.pid
dist
build
*.tsbuildinfo
